.card-container .char-card {
    max-width: 800px;
    width: 100%;
    margin: 0 auto; 

}

.char-info {
    border: 5px solid black;
    margin: 30px 100px;
    background-color: rgba(37, 19, 19, 0.63);
    text-align: center;
}

.char-info h2 {
    color: yellow;
    text-align: center;
    text-decoration: underline;
}

.attributes {
    text-align: center;
    color: white;
    margin: 50px;
    /* padding: 0 10px; */
}

.list {
    color: rgb(226, 129, 38);
    font-weight: 700;
    /* text-align: left; */
    margin: 0 50px;

}